<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add Stock</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<p class="h4 mb-4">Add Stock</p>
		<form th:action="@{/stocks/add}" th:object="${stock}" method="POST">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<p>Please Correct Errors Below</p>
			</div>
			
			<div class="col-md-10 form-group" th:class="${#fields.hasErrors('name')} ? 'col-md-10 form-group has-error' : 'col-md-10 form-group'">
				<input type="text" th:field="*{name}" th:errorclass="has-error" class="form-control mb-4 col-4" placeholder="Name">
				<span class="help-block" th:if="${#fields.hasErrors('name')}">
					<ul>
						<li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
					</ul>
				</span>
			</div>
			
			<div class="col-md-6 form-group" th:class="${#fields.hasErrors('currentPrice')} ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
				<input type="text" th:field="*{currentPrice}" th:errorclass="has-error" class="form-control mb-4 col-4" placeholder="Current Price">
				<span class="help-block" th:if="${#fields.hasErrors('currentPrice')}">
					<ul>
						<li th:each="err : ${#fields.errors('currentPrice')}" th:text="${err}"/>
					</ul>
				</span>
			</div>
			
			<button type="submit" class="btn btn-info col-3">Save</button>
		</form>
		<hr>
		<a th:href="@{/stocks/list}">Back to Stocks List</a>
	</div>
</body>
</html>